################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StudentManagment/StudentManagment/.vs/StudentManagment/v16
/StudentManagment/StudentManagment/obj
